<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Virtual Fish Tank</title>

    <script type="text/javascript">
    var fishStyle;
      function StartSwimming() {
        fishStyle = document.getElementById("fish").style;
        fishStyle.left = document.body.offsetWidth + "px";
        window.setInterval("Swim()", 75);
      }

      function Swim() {
        var left = parseInt(fishStyle.left) - 5;
        fishStyle.left = left + "px";
        if (left < -118)
          fishStyle.left = document.body.offsetWidth + "px";
      }
<!--       // Stop hiding the script
 -->    </script>
  </head>

  <body onload="StartSwimming()">
    <h1 style="text-align:center">Virtual Fish Tank</h1>
    <p style="text-align:center">
      Welcome to the virtual fish tank, where you never have to worry about
      remembering to feed the fish.
      <img src="img/fish.gif" alt="Fish" id="fish"
      style="position:absolute; top:200px" />
    </p>
  </body>
</html>






