<h1> hi <%= current_user.name %> </h1>

<div id='logout-block'> 
	<a id="logout-text" href="/my_question"> My Question </a> 
</div>

<div id='logout-block'> 
	<a id="logout-text" href="/my_answer"> My Answer </a> 
</div>