<h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>

<h2> Sign up for an account </h2>
<form method=post action=/signup>
	<input type=text Placeholder="name" name="user[name]"><br>
	<input type=text Placeholder="email" name="user[email]"><br>
	<input type=text Placeholder="username" name="user[username]"><br>
	<input type=password Placeholder="Password" name="user[password]"></br>
	<input type="password" name="password_confirmation" placeholder="Confirm Password"> <br />
	<input type=submit value="Sign Up">
</form>
