<h2> please log in </h2>

<form method=post action=/login>
	<input type=text Placeholder="email" name="user[email]"><br>
	<input type=password Placeholder="Password" name="user[password]"></br>
	<input type=submit value="Login">
</form>